<div class="product-card">
    <div class="product-card_img">
        <a href="">
            <img src="../assets/images/product_1.png" alt="">
        </a>
    </div>
    <div class="product-card_info">
        <h5>Táo juliet pháp organic</h5>
        <div>
            <p>150,000₫</p>
            <del>180,000₫</del>
        </div>
        <a href="">MUA NGAY</a>
    </div>

    <div class="product-card-sale">
        <p>-20 %</p>
    </div>

    <!-- * hover vào hiện ra -->
    <div class="product-card_icon">

        <button data-bs-toggle="tooltip" placement="top" data-bs-custom-class="custom-tooltip"
            title="Thêm vào giỏ hàng">
            <i class="fa-solid fa-cart-plus"></i>
        </button>

        <button class="show-xemnhanh" data-bs-toggle="tooltip" placement="top"
            data-bs-custom-class="custom-tooltip" title="Xem sản phẩm">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>

        <button data-bs-toggle="tooltip" placement="top" data-bs-custom-class="custom-tooltip"
            title="Thêm vào yêu thích">
            <i class="fa-solid fa-heart"></i>
        </button>

    </div>
</div>

<div class="product-card">
    <div class="product-card_img">
        <a href="">
            <img src="../assets/images/product_2.png" alt="">
        </a>
    </div>
    <div class="product-card_info">
        <h5>Táo juliet pháp organic</h5>
        <div>
            <p>150,000₫</p>
            <del>180,000₫</del>
        </div>
        <a href="">MUA NGAY</a>
    </div>

    <!-- * hover vào hiện ra -->
    <div class="product-card_icon">
        <button data-bs-toggle="tooltip" placement="top" data-bs-custom-class="custom-tooltip"
            title="Thêm vào giỏ hàng">
            <i class="fa-solid fa-cart-plus"></i>
        </button>

        <button class="show-xemnhanh" data-bs-toggle="tooltip" placement="top"
            data-bs-custom-class="custom-tooltip" title="Xem sản phẩm">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>

        <button data-bs-toggle="tooltip" placement="top" data-bs-custom-class="custom-tooltip"
            title="Thêm vào yêu thích">
            <i class="fa-solid fa-heart"></i>
        </button>
    </div>
</div>

<div class="product-card">
    <div class="product-card_img">
        <a href="">
            <img src="../assets/images/product_4.png" alt="">
        </a>
    </div>
    <div class="product-card_info">
        <h5>Táo juliet pháp organic</h5>
        <div>
            <p>150,000₫</p>
            <del>180,000₫</del>
        </div>
        <a href="">MUA NGAY</a>
    </div>

    <!-- * hover vào hiện ra -->
    <div class="product-card_icon">
        <button data-bs-toggle="tooltip" placement="top" data-bs-custom-class="custom-tooltip"
            title="Thêm vào giỏ hàng">
            <i class="fa-solid fa-cart-plus"></i>
        </button>

        <button class="show-xemnhanh" data-bs-toggle="tooltip" placement="top"
            data-bs-custom-class="custom-tooltip" title="Xem sản phẩm">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>

        <button data-bs-toggle="tooltip" placement="top" data-bs-custom-class="custom-tooltip"
            title="Thêm vào yêu thích">
            <i class="fa-solid fa-heart"></i>
        </button>
    </div>
</div>

<div class="product-card">
    <div class="product-card_img">
        <a href="">
            <img src="../assets/images/product_5.png" alt="">
        </a>
    </div>
    <div class="product-card_info">
        <h5>Táo juliet pháp organic</h5>
        <div>
            <p>150,000₫</p>
            <del>180,000₫</del>
        </div>
        <a href="">MUA NGAY</a>
    </div>

    <!-- * hover vào hiện ra -->
    <div class="product-card_icon">
        <button data-bs-toggle="tooltip" placement="top" data-bs-custom-class="custom-tooltip"
            title="Thêm vào giỏ hàng">
            <i class="fa-solid fa-cart-plus"></i>
        </button>

        <button class="show-xemnhanh" data-bs-toggle="tooltip" placement="top"
            data-bs-custom-class="custom-tooltip" title="Xem sản phẩm">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>

        <button data-bs-toggle="tooltip" placement="top" data-bs-custom-class="custom-tooltip"
            title="Thêm vào yêu thích">
            <i class="fa-solid fa-heart"></i>
        </button>
    </div>
</div>

<div class="product-card">
    <div class="product-card_img">
        <a href="">
            <img src="../assets/images/product_6.png" alt="">
        </a>
    </div>
    <div class="product-card_info">
        <h5>Táo juliet pháp organic</h5>
        <div>
            <p>150,000₫</p>
            <del>180,000₫</del>
        </div>
        <a href="">MUA NGAY</a>
    </div>

    <!-- * hover vào hiện ra -->
    <div class="product-card_icon">
        <button data-bs-toggle="tooltip" placement="top" data-bs-custom-class="custom-tooltip"
            title="Thêm vào giỏ hàng">
            <i class="fa-solid fa-cart-plus"></i>
        </button>

        <button class="show-xemnhanh" data-bs-toggle="tooltip" placement="top"
            data-bs-custom-class="custom-tooltip" title="Xem sản phẩm">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>

        <button data-bs-toggle="tooltip" placement="top" data-bs-custom-class="custom-tooltip"
            title="Thêm vào yêu thích">
            <i class="fa-solid fa-heart"></i>
        </button>
    </div>
</div>

<div class="product-card">
    <div class="product-card_img">
        <a href="">
            <img src="../assets/images/product_9.png" alt="">
        </a>
    </div>
    <div class="product-card_info">
        <h5>Táo juliet pháp organic</h5>
        <div>
            <p>150,000₫</p>
            <del>180,000₫</del>
        </div>
        <a href="">MUA NGAY</a>
    </div>

    <!-- * hover vào hiện ra -->
    <div class="product-card_icon">
        <button data-bs-toggle="tooltip" placement="top" data-bs-custom-class="custom-tooltip"
            title="Thêm vào giỏ hàng">
            <i class="fa-solid fa-cart-plus"></i>
        </button>

        <button class="show-xemnhanh" data-bs-toggle="tooltip" placement="top"
            data-bs-custom-class="custom-tooltip" title="Xem sản phẩm">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>

        <button data-bs-toggle="tooltip" placement="top" data-bs-custom-class="custom-tooltip"
            title="Thêm vào yêu thích">
            <i class="fa-solid fa-heart"></i>
        </button>
    </div>
</div>

<div class="product-card">
    <div class="product-card_img">
        <a href="">
            <img src="../assets/images/product_10.png" alt="">
        </a>
    </div>
    <div class="product-card_info">
        <h5>Táo juliet pháp organic</h5>
        <div>
            <p>150,000₫</p>
            <del>180,000₫</del>
        </div>
        <a href="">MUA NGAY</a>
    </div>

    <!-- * hover vào hiện ra -->
    <div class="product-card_icon">
        <button data-bs-toggle="tooltip" placement="top" data-bs-custom-class="custom-tooltip"
            title="Thêm vào giỏ hàng">
            <i class="fa-solid fa-cart-plus"></i>
        </button>

        <button class="show-xemnhanh" data-bs-toggle="tooltip" placement="top"
            data-bs-custom-class="custom-tooltip" title="Xem sản phẩm">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>

        <button data-bs-toggle="tooltip" placement="top" data-bs-custom-class="custom-tooltip"
            title="Thêm vào yêu thích">
            <i class="fa-solid fa-heart"></i>
        </button>
    </div>
</div>

<div class="product-card">
    <div class="product-card_img">
        <a href="">
            <img src="../assets/images/product_15.png" alt="">
        </a>
    </div>
    <div class="product-card_info">
        <h5>Táo juliet pháp organic</h5>
        <div>
            <p>150,000₫</p>
            <!-- <del>180,000₫</del> -->
        </div>
        <a href="">MUA NGAY</a>
    </div>

    <!-- * hover vào hiện ra -->
    <div class="product-card_icon">
        <button data-bs-toggle="tooltip" placement="top" data-bs-custom-class="custom-tooltip"
            title="Thêm vào giỏ hàng">
            <i class="fa-solid fa-cart-plus"></i>
        </button>

        <button class="show-xemnhanh" data-bs-toggle="tooltip" placement="top"
            data-bs-custom-class="custom-tooltip" title="Xem sản phẩm">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>

        <button data-bs-toggle="tooltip" placement="top" data-bs-custom-class="custom-tooltip"
            title="Thêm vào yêu thích">
            <i class="fa-solid fa-heart"></i>
        </button>
    </div>
</div>