<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- * Lato -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet">

<!-- * advent pro -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">

<!-- *  Amatic SC -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Amatic+SC:wght@400;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet">

<!-- * Work Sans -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">

<link rel="stylesheet" href="../styles/header.css">

<div class="header container">
    <div class="header-info">
        <div class="header-info_ship">
            <i class="fa-solid fa-truck-fast"></i>
            <p>Miễn phí vận chuyển dưới bán kính 10km</p>
        </div>

        <div class="header-info_contact">
            <div>
                <i class="fa-solid fa-phone"></i>
                <p>Hỗ trợ khách hàng: <span>(+84) 0313-728-397</span></p>
            </div>
            <div>
                <i class="fa-solid fa-envelope"></i>
                <p>Email: <span>info@themona.global</span></p>
            </div>
        </div>
    </div>

    <header class="header-menu">

        <div>
            <a href="">
                <img class="header-img" src="../assets/images/FoodMona-e1722313517647.png" alt="FoodMona">
            </a>
        </div>

        <div class="header-menu_info">
            <ul>
                <li class="header-menu_info__li">
                    <a class="header-menu_info__link" href="">Trang chủ</a>
                </li>
                <li class="header-menu_info__li">
                    <a class="header-menu_info__link" href="">Giới thiệu</a>
                </li>
                <li class="header-menu_info__li header-menu_info__list">
                    <a class="header-menu_info__link" href="">Sản phẩm</a>
                    <i class="fa-solid fa-angle-down"></i>
                    <ul class="child">
                        <a href="">
                            <li style="padding-top: 20px !important;">Rau củ hữu cơ</li>
                        </a>
                        <a href="">
                            <li>Thịt, cá, hải sản</li>
                        </a>
                        <a href="">
                            <li>Nước uống</li>
                        </a>
                        <a href="">
                            <li>Gia vị, nguyên liệu</li>
                        </a>
                        <a href="">
                            <li>Ngũ cốc</li>
                        </a>
                        <a href="">
                            <li style="padding-bottom: 20px !important;">Đồ khô</li>
                        </a>
                    </ul>
                </li>
                <li class="header-menu_info__li">
                    <a class="header-menu_info__link" href="">Tin tức</a>
                </li>
                <li class="header-menu_info__li">
                    <a class="header-menu_info__link" href="">Liên hệ</a>
                </li>
            </ul>
        </div>

        <div class="header-menu_theme">
            <div class="header-menu_theme__pos">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>

            <div class="header-menu_theme__pos header-menu_theme__update">
                <i class="fa-regular fa-heart">
                    <span>0</span>
                </i>
            </div>

            <div class="header-menu_theme__pos header-menu_theme__update">
                <i class="fa-solid fa-cart-shopping">
                    <span>0</span>
                </i>
            </div>
        </div>

    </header>
</div>